@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@900&family=Quicksand:wght@500&family=Source+Sans+Pro:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 300px;
  font-family: 'Quicksand', sans-serif;
  color: #222;
  padding-bottom: 50px;
  font-weight: bold;
  color: white;
  position: relative;
  background: #008080;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  transition: all .3s ease-in-out;
  font-size: 1.5rem;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all .3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: black;
  text-decoration: none;
  padding: 7px 15px;
  transition: all .3s ease-in-out;
}

.nav.active {
  background: #008080;
  box-shadow: 0 2px 10px rgba(0,0,0,0.7);
  color: white;
  fill: white;
}

.nav.active a {
  color: white;
}

.nav.active .container {
  padding: 10px;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

.nav .btn-light:hover,
.nav .btn-light:focus {
  background: none;
}


.hero {
  background-image: url(https://images.unsplash.com/photo-1559715745-e1b33a271c8f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}


.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

.great-vibes {
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
}

.hero .great-vibes {
  font-size: 9rem;
}

.hero p {
  font-size: 3rem;
}

.nav button {
  border: none
}

#footer img {
  height: 60px;
}

#footer {
  color: #fff;
}

.title{
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: #C4A484;
}

.info {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
}

#about {
  padding: 100px 50px;
}

#menu {
  max-width: 600px;
  padding: 100px 50px;
  
}


#about img {
  border-radius: 40px;
}